{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, is_required=true) }}
{% endblock %}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_can_update_owner_org = h.can_update_owner_org(data, organizations_available) %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and user_can_update_owner_org %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
  <div data-module="dataset-visibility">
    {% endif %}

    {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    {% set org_error = errors.owner_org %}
    <div class="form-group control-medium">
      <label for="field-organizations" class="control-label">
        <span title="this field is required" class="control-required">*</span>
        {{ _('Organization') }}
      </label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          <option value="" {% if not selected_org and not data.id %} selected="selected" {% endif %}>{{ _('No Organization') }}</option>
          {% for organization in organizations_available %}
            {% set selected_org = (existing_org and existing_org == organization.id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
          {% endfor %}
        </select>
        {% if org_error %}
          <span class="error-block">{{ org_error[0] }}</span>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
    <div class="form-group control-medium">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private" class="form-control">
          {% for option in [('True', _('Private')), ('False', _('Public'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
  </div>
  {% endif %}


  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="form-group control-medium">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select class="form-control" id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
  {% endif %}

  {% set spatial_value = data.get('spatial', '') %}
  {% set pkg_spatial = data.get('dataset_spatial', '') %}
  {% set org_spatial = data.get('org_spatial', '') %}
  {% set valid_pkg_spatial = h.is_valid_spatial(pkg_spatial) %}
  {% set valid_org_spatial = h.is_valid_spatial(org_spatial) %}
  {% set valid_spatial = h.is_valid_spatial(spatial_value) %}
  {% if spatial_value == org_spatial and valid_org_spatial and not valid_pkg_spatial %}
    {# The current spatial is set to the organization spatial #}
    {% set org_default = 'True' %}
  {% elif valid_pkg_spatial and spatial_value == pkg_spatial %}
    {# The current spatial is the dataset spatial #}
    {% set org_default = 'False' %}
  {% elif valid_spatial and not valid_org_spatial and not valid_pkg_spatial %}
    {# In this case, it appears that the dataset hasn't been updated to use the dataset_spatial and org_spatial fields to track the spatial inheritance, we are going to prevent the user from updating the spatial fields #}
    {% set org_default = 'Unmigrated' %}
  {% elif not valid_spatial and not valid_org_spatial and not valid_pkg_spatial %}
    {# This is the expected case in a new dataset form page, there might be an organization spatial, but we will not be checking until the user actually tries to create the dataset #}
    {% set org_default = 'New' %}
  {% elif not valid_org_spatial %}
    {# The organization spatial value is empty #}
    {% set org_default = 'Empty' %}
  {% else %}
    {# At this point we are assuming there is no organization spatial and no dataset spatial or some other unexpected scenario #}
    {% set org_default = 'Unknown' %}
  {% endif %}

  <div class="form-group control-medium">

  </div>

  <div class="form-group control-full">
    <label class="control-label" for="field-org-bbox">Dataset Coordinates</label>

    {% if org_default == 'Unmigrated' %}
      <div class="alert alert-warning" role="alert">Editing spatial fields for this dataset has been disabled. Please contact the admin to enable spatial inheritance for this dataset.</div>
    {% else %}
      <div class="controls ">
        <input id="field-dataset-bbox" type="hidden" name="dataset_spatial" value="{{ pkg_spatial }}" placeholder="Map Data" class="form-control">
      </div>

      <div class="map-draw-form-group">
          <div class="dataset-map"
              data-module="rvr-bbox-generator"
              data-currentspatial="{{ spatial_value }}"
              data-spatialfield="field-dataset-bbox"
              data-parentspatial="{{ org_spatial }}"
          >
              <div id="dataset-map-container" class="map-draw-field"></div>
          </div>
          <div id="dataset-map-attribution">
              Click the pen icon to start drawing. {% if org_default != 'False' %}<em>Changes made would override the organization default</em>{% endif %}
              {% snippet "spatial/snippets/rvr_map_attribution.html" %}
          </div>
          <div class="btn-toolbar" role="toolbar" aria-label="controls">
              <div class="btn-group btn-group-sm" role="group" aria-label="cancel">
                <button type="button" id="cancel-map-draw-modal" class="btn disabled" data-dismiss="modal">Cancel Changes</button>
              </div>
              <div class="btn-group btn-group-sm" role="group" aria-label="default">
                {% if org_default == 'True' %}
                  <button type="button" class="btn disabled" data-dismiss="modal">Already Using Organization Default</button>
                {% elif org_default == 'False' %}
                  <button type="button" id="use-org-spatial" class="btn btn-info" data-dismiss="modal">Use Organization Default</button>
                {% elif org_default in ['New', 'Empty'] %}
                  <button type="button" class="btn disabled" data-dismiss="modal">Organization default unavailable</button>
                {% endif %}
              </div>
              <div class="btn-group btn-group-sm" role="group" aria-label="apply">
                <button type="button" id="apply-map-draw-modal" class="btn disabled">Apply</button>
            </div>
          </div>
      </div>
    </div>

    <input id="field-spatial" type="hidden" name="spatial" value="{{ spatial_value }}" placeholder="Spatial Data" class="form-control">
  {% endif %}

{% endblock %}
