<div class="nav-item daterange-picker">
    <select id="daterange-select">
        {% for option in options %}
            <option value={{ option['name'] }} {% if option['name'] == active %} selected="selected"{% endif %}>
                {{ option['title'] }}
            </option>
        {% endfor %}
    </select>
</div>

<div id="daterange-parent" class="nav-item daterange-picker">
    <input
        type="text"
        name="daterange"
        id="daterange-input-field"
        data-startdate="{{ dateranges[active]['params'][0] }}"
        data-enddate="{{ dateranges[active]['params'][1] }}"
    />
</div>