{% ckan_extends %}


{% block basic_fields %}
    {{ super() }}

    <div class="form-group control-full">
        <label class="control-label" for="field-org-bbox">Organization Coordinates</label>
        <div class="controls "> 
            <input id="field-org-bbox" type="hidden" name="org_spatial" value="{{ org_spatial }}" placeholder="Map Data" class="form-control">
        </div>

        <div class="map-draw-form-group">
            <div class="dataset-map"
                data-module="rvr-bbox-generator"
                data-currentspatial="{{ org_spatial }}"
                data-spatialfield="field-org-bbox"
            >
                <div id="dataset-map-container" class="map-draw-field"></div>
            </div>
            <div id="dataset-map-attribution">
                Click the pen icon to start drawing
                {% snippet "spatial/snippets/rvr_map_attribution.html" %}
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="controls">
                {# <div class="btn-group btn-group-sm" role="group" aria-label="cancel">
                    <button type="button" id="cancel-map-draw-modal" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div> #}
                <div class="btn-group btn-group-sm" role="group" aria-label="apply">
                    <button type="button" id="apply-map-draw-modal" class="btn disabled">Apply</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
